<!doctype html>
<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<title>vkIO</title>
	</head>
	<body>
		<div class='metanaw'>
			{% if not session.logged_in %}
			<a href="{{url_for('login')}}">Войти</a>
			{% else %}
			<a href="{{url_for('logout')}}"></a>
			{% endif %}
		</div>

		{% for message in get_flashed_messages() %}
		<div class=" flash">{{message}}</div>
		{% endfor %}
		{% block body %}{% endblock %}
		<footer><div class="footer" >&copy Все права защищены</div></footer>
		
	</body>
</html>