
{% extends 'base.html' %}
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{%  block body %}
<dif >
    <form action="{{ url_for('enter') }}" method=post class=form>
        <dl>
            <dt>Логин:
            <dd><input type=text name=username_enter>
            <dt>Пароль:
            <dd><input type=password name=password_enter>
            <dd><input type=submit value='зарегистрироваться'>
        </dl>
    </form>
    </dif>
{% endblock %}